/* DETAILS */

.detailContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "detail-header"
        "detail-main";
}

.header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: detail-header;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
    height: 500px;
}


.header-title {
    font-size: 4.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 5rem;
    text-shadow: 5px 5px 8px black;
}

.header-description {
    font-size: 2rem;
    color: #ffffff;
    padding-left: 5rem;
    text-shadow: 5px 5px 8px black;
}

/* BACKGROUND HEADER */
#id-KzsVybklmbNIHiXM7gnI {
    background-image: url('../../assets/background/LOTR.jpeg');
}

#id-1mdQFW8gNH5qTqhQb3AT {
    background-image: url('../../assets/background/HA.jpeg');
}

#id-dFwGzJPLSzV7grbmlHLo {
    background-image: url('../../assets/background/HP.jpeg');
}

#id-QnmizGky8BTlqxd0fgnw {
    background-image: url('../../assets/background/GOT.jpeg');
}

#id-nbKuBMWJA3sIxYq8gLNX {
    background-image: url('../../assets/background/EPL.jpeg');
}

#id-n7rI14N498iWSjL5VcRF {
    background-image: url('../../assets/background/AM.jpeg');
}

#id-p2GINbfpteRdfH733bta {
    background-image: url('../../assets/background/SH.jpeg');
}

#id-eJ6sC5siboQHexQ5Q47J {
    background-image: url('../../assets/background/DA.jpeg');
}

#id-qcVKrY8CB7V8FRRfp2xX {
    background-image: url('../../assets/background/FRNDS.jpeg');
}

#id-kRITtljU5C7vIXZFNlmM {
    background-image: url('../../assets/background/TDG.jpeg');
}

#id-XunUh1723SXn8v7qFZpq {
    background-image: url('../../assets/background/CHNBYL.jpeg');
}

#id-BBA3kb1xthMdDxoBH0k0 {
    background-image: url('../../assets/background/DARK.jpeg');
}

.main-details {
    grid-area: detail-main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-details h3 {
    text-transform: uppercase;
    color: gray;
    padding: 2rem;
}

.back-tours {
    text-decoration: none;
    color: #c41f1f;
    font-size: 2rem;
    margin: 4rem;
}

.booking {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 25% 10% 35%;
    grid-template-areas:
        "button"
        "tour-details"
        "location"
        "button-cart";
    align-items: center;
    justify-items: center;
    width: 310px;
    height: 360px;
    box-shadow: 1px 1px 10px 3px lightgrey;
}

.button-reserva {
    grid-area: button;
    background-color: #c41f1f;
    color: #ffffff;
    font-size: 1.8rem;
    width: 90%;
    height: 4rem;
    border: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-details {
    grid-area: tour-details;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    line-height: 1rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-right: 1px solid #adadad;
    line-height: 1.5rem;
}

.main-text p {
    margin: 0;
    font-weight: bold;
}

.sub-text {
    color: gray;
    font-size: 0.85rem;
}

#price {
    border-right: none;
}

.location {
    grid-area: location;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.location p {
    margin: 0;
}

.agregarCarrito {
    grid-area: button-cart;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.agregarCarrito p {
    margin: 0;
    font-weight: bold;
    width: auto;
    min-width: 20px;
    text-align: center;
}

.operator {
    display: flex;
    flex-direction: row;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    padding: 2px;
}

.button-op {
    background-color: #c41f1f;
    border: transparent;
    color: #ffffff;
    border-radius: 5px;
    height: 1.5rem;
    width: 1.5rem;
}

.button-cart {
    background-color: #c41f1f;
    height: 2rem;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
}

