.footer {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-area: footer;
}

.footer p {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}

.footer p a {
    color: salmon !important;
    text-decoration: none;
}

.soMeIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.somMeIcons a {
    text-decoration: none;
}

.soMeIcons a img {
    width: 1.3rem;
    margin: 0 5px;
}

@media only screen and (min-width: 576px) {


    .footer {
        height: 120px;
    }

    .footer p {
        font-size: 15px;
    }

    .soMeIcons a img {
        width: 2rem;
    }


}

@media only screen and (min-width: 992px) {

    .soMeIcons a img:hover {
        transform: scale(1.2);
    }
}