body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
  /* HEADER */
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a12e2e;
    padding: 0 10px;
    height: 70px;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-shadow: 2px 2px black;
  }
  
  .title h1 {
    font-size: 30px;
    margin: auto;
    font-weight: initial;
    line-height: initial;
    padding-left: 10px;
  }
  
  .title img {
    width: 55px;
    height: 55px;
  }
  
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .navBar a {
    padding: 0 12px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .navBar a:hover {
    background-color: transparent;
    transform: scale(1.2);
  }
  
  
  .cart-icon {
    width: 2rem;
  }
  
  .badge {
    position: absolute;
    top: 10px;
  }
  
  
  /* // HOME PAGE //  */
  
  .homeContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100vh;
    grid-template-areas:
      "title"
      "main"
      "footer";
  }
  
  .mainHome {
    background: url('./assets/hollywood-cover-home.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
  }
  
  .mainHomeTitle {
    font-size: 2rem;
    margin-top: 10rem;
    background-color: white;
    line-height: 1.5;
  }
  
  .arrow-up {
    width: 3rem;
    position: fixed;
    bottom: 30px;
    right: 12px;
    cursor: pointer;
  }
  
  .none {
    display: none;
  }
  
  
  
  /* TOURS-PAGE */
  
  .toursContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "main"
      "footer";
  }
  
  .mainTours {
    background-image: url('./assets/hollywood-cover-fade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
  }
  
  .loading {
    color: black;
    text-shadow: 2px 2px 1px white;
    font-size: 2.5rem;
    height: 100vh;
    text-align: center;
    margin-top: 20px;
  }
  
  .tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  
  .card {
    width: 20rem;
    margin: 1rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
  }
  
  .card img {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
  }
  
  
  /* CONTACT PAGE */
  
  .form-container {
    background-image: url('./assets/hollywood-cover-fade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .formulario {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .form-contacto {
    background-color: #b9afaf69;
    border-radius: 20px;
    border: 1px solid #aaa2a2;
  }
  
  .form-contacto fieldset {
    margin: 10px;
    width: 500px;
  }
  
  .form-label {
    margin: 0.5rem 0;
  }
  
  .btn-contact {
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  
  
  /* CART PAGE */
  
  .mainCart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "cart-title"
      "detalle"
      "confirmar";
  }
  
  .mainCart h1 {
    grid-area: cart-title;
    height: fit-content;
    font-size: 2rem;
    text-align: left;
    margin: 50px 150px;
    border-bottom: 1px solid lightgrey;
    justify-self: stretch;
  }
  
  .empty-cart {
    height: 500px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  
  .empty-cart a {
    color: #a12e2e;
    text-decoration: none;
    margin-top: 5rem;
  }
  
  
  .detalle-carrito {
    grid-area: detalle;
    height: fit-content;
  
  }
  
  .carrito-tour {
    margin: 0 150px 50px 150px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: "description delete";
    align-items: center;
  }
  
  .detalles-tour {
    grid-area: description;
  }
  
  .tour-name {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  
  .detail {
    font-size: 1rem;
    color: #808080;
    margin: 0;
  }
  
  .total-tour {
    margin: 10px 0 0 0;
    color: #a12e2e;
    font-size: 1.2rem;
  }
  
  .button-delete {
    grid-area: delete;
    justify-self: center;
  }
  
  .valor-total {
    margin: 0 150px;
    font-size: 1.2rem;
    padding-top: 20px;
    border-top: 1px solid lightgray;
  }
  
  .confirm-user {
    margin: 50px 300px;
    grid-area: confirmar;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  .confirm-user button {
    margin: 0 10px;
  }

  /* CHECKOUT PAGE */
  
  .checkout-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% auto 30%;
    grid-template-areas: 
    "volver volver"
    "column1 column2"
    "payment payment";
  }
  
  .back-cart {
    grid-area: volver;
    font-size: 1.2rem;
    margin: 10px;
    color: black;
    text-align: right;
  }
  
  .details-container {
    grid-area: column1;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 0 10px;
    border-right: 1px solid lightgray;
  }
  
  .checkout-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: beige;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .checkout-cart img {
    width: 100px;
    margin-left: 10px;
  }
  
  .checkout-detalle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    grid-area: column1;
  }
  
  .buyer-form {
    grid-area: column2;
    margin: 50px 100px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "col1 col2"
    "col1 col2"
    "subs subs";
  }
  
  .col-1 {
    grid-area: col1;
  }
  
  .col-2 {
    grid-area: col2;
  }
  
  .col-1, .col-2 {
    width: 100%;
  }
  
  .col-1 label, .col-2 label {
    margin-right: 10px;
    display: block;
  }
  
  .col-1 input, .col-2 input, .col-2 select {
    width: 20rem;
    margin-bottom: 30px;
    height: 2rem;
  }
  
  .subscription {
    display: flex;
    flex-direction: row;
    grid-area: subs;
    gap: 5px;
    font-size: 0.8rem;
    align-items: center;
  }
  
  .checkout-confirm {
    margin-top: 20px;
  }
  
  .select-payment {
    grid-area: payment;
    justify-self: center;
    margin-left: 10px;
  }
  
  