body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}


/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a12e2e;
  padding: 0 10px;
  height: 70px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

.title h1 {
  font-size: 30px;
  margin: auto;
  font-weight: initial;
  line-height: initial;
  padding-left: 10px;
}

.title img {
  width: 55px;
  height: 55px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navBar a {
  padding: 0 12px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.navBar a:hover {
  background-color: transparent;
  transform: scale(1.2);
}


.cart-icon {
  width: 2rem;
}


/* // HOME PAGE //  */

.homeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100px;
  grid-template-areas:
    "main"
    "footer";
}

.mainHome {
  background: url('./media/hollywood-cover-home.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

.mainHomeTitle {
  font-size: 2rem;
  margin-top: 10rem;
  background-color: white;
  line-height: 1.5;
}

.arrow-up {
  width: 3rem;
  position: fixed;
  bottom: 30px;
  right: 12px;
  cursor: pointer;
}

.none {
  display: none;
}

/* PELICULAS PAGE */

.mainPeliculas {
  background-image: url('./media/hollywood-cover-fade.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
}

/* LOCACIONES PAGE */


.mainLocaciones {
  background-image: url('./media/hollywood-cover-fade.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
}

/* TOURS-PAGE */

.toursContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main"
    "footer";
}

.mainTours {
  background-image: url('./media/hollywood-cover-fade.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
}

.loading {
  color: white;
  font-size: 2.5rem;
  height: 100vh;
  text-align: center;
  margin-top: 20px;
}

.tours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.card {
  width: 20rem;
  margin: 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.agregarCarrito {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}

.agregarCarrito p {
  font-size: 1.2rem;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.808);
  font-weight: bold;
  width: auto;
  min-width: 15px;
  text-align: center;
}


.agregarCarrito .btn {
  margin: 0 5px;
}

.agregarCarrito .btn .btn-danger {
  height: 1rem;
}

/* CART PAGE */

.mainCart h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0 0 0;
}

.mainCart p {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.2rem;
}

.mainCart a {
  text-decoration: none;
  color: #a12e2e;
}

/* DETAILS */

.detailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto;
  grid-template-areas:
    "main"
    "footer";
}

.mainDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}