html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}





/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a12e2e;
  height: 70px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

.title h1 {
  font-size: 20px;
  margin: auto;
  font-weight: initial;
  line-height: initial;
  padding-left: 5px;
}

.title img {
  width: 45px;
  height: 45px;
}

.navbar {
  margin: 10px 10px;
  display: block;
  padding: 5px;
}

.navbar button {
  background-color: #ffffff99;
}

.navbar-collapse {
  margin-top: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

.navbar-nav a {
  padding: 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}


.cart-icon {
  width: 1.5rem;
  background-color: black;
}

.badge {
  position: absolute;
  top: 160px;
  right: 25px;
}


/* // HOME PAGE //  */

.homeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 500px;
  grid-template-areas:
    "title"
    "main"
    "footer";
}

.mainHome {
  background: url('./assets/hollywood-cover-home.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

.mainHomeTitle {
  font-size: 1.2rem;
  margin-top: 10rem;
  background-color: white;
  line-height: 1.5;
  text-align: center;
}

.arrow-up {
  display: none;
}




/* TOURS-PAGE */

.toursContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main"
    "footer";
}

.mainTours {
  background-image: url('./assets/hollywood-cover-fade.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
}

.loading {
  color: black;
  text-shadow: 2px 2px 1px white;
  font-size: 2rem;
  height: 100vh;
  text-align: center;
  margin-top: 20px;
}

.tours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.card {
  width: 16rem;
  margin: 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}


/* CONTACT PAGE */

.form-container {
  background-image: url('./assets/hollywood-cover-fade.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.form-contacto {
  background-color: #b9afaf69;
  border-radius: 20px;
  border: 1px solid #aaa2a2;
}

.form-contacto fieldset {
  margin: 10px;
}

.form-label {
  margin: 0.5rem 0;
}

.btn-contact {
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
}



/* CART PAGE */

.mainCart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.mainCart h1 {
  height: fit-content;
  font-size: 1.5rem;
  text-align: left;
  margin: 50px 10px;
  border-bottom: 1px solid lightgrey;
}

.empty-cart {
  height: 500px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.empty-cart a {
  color: #a12e2e;
  text-decoration: none;
  margin-top: 5rem;
}


.detalle-carrito {
  display: flex;
  flex-direction: column;

}

.carrito-tour {
  margin: 0 10px 50px 10px;
  display: flex;
  flex-direction: column;
}

.tour-name {
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.detail {
  font-size: 1rem;
  color: #808080;
  margin: 0;
}

.total-tour {
  margin: 10px 0 0 0;
  color: #a12e2e;
  font-size: 1.2rem;
}

.button-delete {
  margin-top: 10px;
}

.valor-total {
  font-size: 1.2rem;
  padding-top: 20px;
  margin-left: 10px;
  border-top: 1px solid lightgray;
}

.confirm-user {
  margin: 50px 0 50px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.confirm-user button {
  font-size: 0.8rem;
}

#confirm-cart {
  margin-left: 5px;
}

/* // CHECKOUT //  */

.none {
  display: none;
}

.checkout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-cart {
  font-size: 1.2rem;
  margin: 10px;
  color: black;
  text-align: right;
}

.details-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 10px;
}

.checkout-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: beige;
  margin-bottom: 20px;
  gap: 15px;
}

.checkout-cart img {
  width: 100px;
  margin-left: 10px;
}

.checkout-detalle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
  grid-area: column1;
}

.buyer-form {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
}


.col-1,
.col-2 {
  width: 100%;
}

.col-1 label,
.col-2 label {
  margin-right: 10px;
  display: block;
}

.col-1 input,
.col-2 input,
.col-2 select {
  width: 15rem;
  margin-bottom: 15px;
  height: 2rem;
}

.subscription {
  display: flex;
  flex-direction: row;
  grid-area: subs;
  gap: 5px;
  font-size: 0.8rem;
  align-items: center;
}

.select-payment {
  margin-top: 20px;
}

.payment-options {
  grid-area: payment;
  justify-self: center;
  margin-left: 10px;
  width: 300px;
  scroll-behavior: smooth;

}


.form-payment {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: none;
}

.accordion-header {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: gray;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  font-size: 0.7rem;
}

.label-card {
  display: flex;
  align-content: center;
  gap: 5px;
}

.container-icons {
  display: flex;
  justify-content: flex-end;
}

.container-icons i {
  padding: 0 0.2rem;
    font-size: 1rem;
}

.fa-cc-visa {
  color: #000080;
}

.fa-cc-mastercard {
  color: #ff0000;
}

.fa-cc-amex {
  color: #2E77BB;
}

.pp-logo {
  width: 5rem;
  border-radius: 0.5rem;
}

.card-details label {
  margin-top: 0.3rem;
  display: block;
}

.card-details input {
  margin-bottom: 0.3rem;
}

.btn-finish {
  margin-top: 2rem;
  margin-bottom: 4rem;
}


@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}